{% extends "basefront.html.twig" %}

{% block body %}
    <table class="table table-striped">
        <thead>
            <tr>
                
                <th scope="col">
                    <div class="container pb-2">
                        Ville
                        <a 
                            class="btn btn-primary"
                            href=" {{ path("voyagesFilter", {champ: "ville", order: "ASC"}) }} "
                            role="button"
                            > < </a>
                        <a 
                            class="btn btn-primary"
                            href=" {{ path("voyagesFilter", {champ: "ville", order: "DESC"}) }} "
                            role="button"
                            > > </a>
                    </div>
                    <form class="row g-3" method="post" action="{{ path("voyagesSort", {champ: "ville"}) }}">
                        <div class="col-auto">
                            <input type="text" name="sortValue" class="form-control">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Filtrer</button>
                        </div>
                    </form>
                </th>
                
                <th scope="col"> 
                    <div class="container pb-2">
                        Pays
                        <a 
                            class="btn btn-primary"
                            href=" {{ path("voyagesFilter", {champ: "pays", order: "ASC"}) }} "
                            role="button"
                            > < </a>
                        <a 
                            class="btn btn-primary"
                            href=" {{ path("voyagesFilter", {champ: "pays", order: "DESC"}) }} "
                            role="button"
                            > > </a>
                    </div>
                    <form class="row g-3" method="post" action="{{ path("voyagesSort", {champ: "pays"}) }}">
                        <div class="col-auto">
                            <input type="text" name="sortValue" class="form-control">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Filtrer</button>
                        </div>
                    </form>
                </th>
                
                <th scope="col"> 
                    <div class="container pb-2">
                        Note
                        <a 
                            class="btn btn-primary"
                            href=" {{ path("voyagesFilter", {champ: "note", order: "ASC"}) }} "
                            role="button"
                            > < </a>
                        <a 
                            class="btn btn-primary"
                            href=" {{ path("voyagesFilter", {champ: "note", order: "DESC"}) }} "
                            role="button"
                            > > </a>
                    </div>
                    <form class="row g-3" method="post" action="{{ path("voyagesSort", {champ: "note"}) }}">
                        <div class="col-auto">
                            <input type="text" name="sortValue" class="form-control">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Filtrer</button>
                        </div>
                    </form>
                </th>
                
                <th scope="col"> 
                    <div class="container pb-2">
                        Date
                        <a 
                            class="btn btn-primary"
                            href=" {{ path("voyagesFilter", {champ: "datecreation", order: "ASC"}) }} "
                            role="button"
                            > < </a>
                        <a 
                            class="btn btn-primary"
                            href=" {{ path("voyagesFilter", {champ: "datecreation", order: "DESC"}) }} "
                            role="button"
                            > > </a>
                    </div>
                    <form class="row g-3" method="post" action="{{ path("voyagesSort", {champ: "datecreation"}) }}">
                        <div class="col-auto">
                            <input type="text" name="sortValue" class="form-control">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-3">Filtrer</button>
                        </div>
                    </form>
                </th>
                
            </tr>
        </thead>
        
        <tbody>
            {% for visite in visites %}
                <tr>
                    <th scope="row"> <a href="{{ path("show", {id: visite.id}) }}"> {{ visite.ville }} </a> </th>
                    <td> {{ visite.pays }} </td>
                    <td>
                        <strong>
                            {% if visite.note < 10 %}
                                <div class="text-danger"> {{ visite.note }}/20 </div>
                            {% else %}
                                <div class="text-success"> {{ visite.note }}/20 </div>
                            {% endif %}
                        </strong>
                    </td>
                    <td> {{ visite.datecreationstring }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}